
@import "../coreStyle.css";

.storry-mission {
    display: grid;
    grid-template-columns: auto 1fr ; 
    row-gap: 2px;
    gap: 1rem;
    width: auto;
    max-height: auto;
    opacity: 1;
    padding-top: 10px;
    padding-right: 24px;
    padding-bottom: 10px;
    padding-left: 80px;
    border-radius: 4px;
    border-width: 1px;
}



#dollar-title{
    display: contents;
    gap: 0.1rem;
}
#titleOf-storry-mission{
    font-size: 1rem;
    color: var(--color-text-secondary);
    font-family: var(--font-text);
    grid-row: 1;
    grid-column: 2;
}
#dollarSighn{
    font-size: 1rem;
    color: var(--color-prime);
    font-family: var(--font-text);
}
#storryContent{
    padding: 0;
    font-size: 1rem;
    color: var(--color-text);
    font-family: var(--font-text);
    max-width: 600px;
    grid-row: 2;
    grid-column: 2;
}

.storry-cornerDots {
    position: relative;
    margin: 1.5rem; /* space around the container */
    background-color: var(--color-component-background);
    
}
/* Base style for all corner squares */
.storry-cornerDots .corner-dot  {
    padding: 0.1rem;     /* space between the square and the edge of the container */
    width: 0.1rem;      /* size of the square */
    height: 0.1rem;
    background: var(--color-prime); /* color of the square */
    position: absolute;
}

.storry-cornerDots .corner-dot.tl { top: 0.1rem; left: 4px; }
.storry-cornerDots .corner-dot.tr { top: 4px; right: 4px; }
.storry-cornerDots .corner-dot.bl { bottom: 4px; left: 4px; }
.storry-cornerDots .corner-dot.br { bottom: 4px; right: 4px; }
