@import "./coreStyle.css";

.app{
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-background);
  height:auto;
  width : auto;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
  padding-top:1%;
  background-image: 
    linear-gradient(#002211 1px, transparent 1px),
    linear-gradient(90deg, #002211 1px, transparent 1px);
  background-size: 40px 40px;

}
.title{
  display:flex;
  flex-direction: column;
  align-items: center;
}
#nameCommunity{
  font-family: var(--font-prime);
  color: var(--color-prime);
  font-size: 2.5rem;
  text-shadow:
    0.2rem 0.2rem 0 #004422,
    0.4rem 0.4rem 0 #002211;

}
#devcommunity{
  font-family: var(--font-prime);
  color: var(--color-heading);
  font-size:0.7rem;
}

#quote{
  font-family: var(--font-prime);
  font-size: 0.7rem;
  color: var(--color-secondary)
}

.headernexcode{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
margin-bottom: 4rem;

}
#pagesButton{
 opacity: 100%;
 background-color: #FFF0;
 border: none;
  cursor: pointer;
  color: var(--color-heading);
  
}
#pagesButton:hover{
  color: var(--color-secondary);
}