@import "./coreStyle.css";

/* Removes default browser spacing */

.app{
  display:flex;
  flex-direction: column;
  justify-content: top;
  background-color: var(--color-background);
  min-height: 100vh;
  width : auto;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
  padding-top:1%;
  background-image: 
    linear-gradient(#002211 1px, transparent 1px),
    linear-gradient(90deg, #002211 1px, transparent 1px);
  background-size: 40px 40px;
}
.title{
  display:flex;
  flex-direction: column;
  align-items: center;
}
#nameCommunity{
  position: relative;
  font-family: var(--font-prime);
  color: var(--color-prime);
  font-size: 2.5rem;
  text-shadow:
    0.2rem 0.2rem 0 #004422,
    0.4rem 0.4rem 0 #002211;

}
#devcommunity{
  font-family: var(--font-prime);
  color: var(--color-heading);
  font-size:0.7rem;
}
.quoteContainer{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
#quote{
  font-family: var(--font-prime);
  font-size: 0.7rem;
  color: var(--color-secondary)
}
#quoteCursor{
  font-family: var(--font-prime);
  font-size: 0.7rem;
  color: var(--color-secondary);
  animation: 
  cursor .4s step-end infinite alternate;
}
@keyframes cursor {
  0% {opacity: 0;}
  50% {opacity: .9;}
  100% {opacity: 1;}
}

.headernexcode{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
margin-bottom: 4rem;

}
#pagesButton{
 opacity: 100%;
 background-color: #FFF0;
 border: none;
  cursor: pointer;
  color: var(--color-heading);
  
}
#pagesButton:hover{
  color: var(--color-secondary);
}
/* Glith effect for NEXCODE*/
#nameCommunity::after {
 content: "NEXCODE";
  position: absolute;
  left: 0.125rem;
  top: 0.125rem;
  clip: rect(0, 900px, 0, 0);
  background-color: black;
  color: var(--color-prime);
  animation: glitch 3s infinite alternate-reverse;
  animation-delay: 4s;
}
#nameCommunity::before {
 content: "NEXCODE";
  position: absolute;
  left: -0.125rem;
  top: -0.125rem;
  clip: rect(0, 900px, 1rem, 0);
  background-color: black;
  color: var(--color-prime);
  animation: glitch 3s infinite alternate-reverse;
  animation-delay: 4s;
}


@keyframes glitch {
  0%   { clip: rect(12px, 9999px, 55px, 0); }
  5%   { clip: rect(44px, 9999px, 12px, 0); }
  10%  { clip: rect(33px, 9999px, 77px, 0); }
  15%  { clip: rect(66px, 9999px, 22px, 0); }
  20%  { clip: rect(11px, 9999px, 88px, 0); }
  25%  { clip: rect(72px, 9999px, 44px, 0); }
  30%  { clip: rect(25px, 9999px, 99px, 0); }
  35%  { clip: rect(90px, 9999px, 33px, 0); }
  40%  { clip: rect(14px, 9999px, 66px, 0); }
  45%  { clip: rect(55px, 9999px, 11px, 0); }
  50%  { clip: rect(88px, 9999px, 44px, 0); }
  55%  { clip: rect(22px, 9999px, 90px, 0); }
  60%  { clip: rect(77px, 9999px, 25px, 0); }
  65%  { clip: rect(33px, 9999px, 72px, 0); }
  70%  { clip: rect(99px, 9999px, 14px, 0); }
  75%  { clip: rect(44px, 9999px, 55px, 0); }
  80%  { clip: rect(11px, 9999px, 33px, 0); }
  85%  { clip: rect(66px, 9999px, 88px, 0); }
  90%  { clip: rect(25px, 9999px, 44px, 0); }
  100% { clip: rect(90px, 9999px, 11px, 0); }
}
