@import '../coreStyle.css';

.featured-projects h2 {
    font-size: .9rem;
    letter-spacing: .1rem;
    margin-bottom: 2rem;
    opacity: 0.6;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
}

.project-card {
    background: var(--color-component-background);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .75rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-header h3 {
    font-size: .9rem;
    letter-spacing: .1rem;
    color: var(--color-prime);
}

.lang-badge {
    border-color: var(--color-prime);
    border: .16rem solid;
    font-size:.9rem;
    padding: .1rem .5rem;
    background: rgba(0, 255, 136, .5);    
    color: var(--color-prime);
    letter-spacing: .08rem;
}

.project-card p {
    font-size: .75rem;
    color: var(--color-text);
    line-height: 1.7;
}

.card-tags {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-top: auto;
}

.tag {
    font-size: .75rem;
    padding: .25rem .7rem;
    border: 1px solid #1a3a2a;
    color: var(--color-prime);
    letter-spacing: .08rem;
}
#projectDescription{
    font-family: var(--font-text);
}
#projectName{
    font-family: var(--font-prime);
}